#useDynLib(tsna)
import(statnet.common,network,networkDynamic)
importFrom(survival, survfit)
importFrom(survival, Surv)
export(
  tPath,
  is.tPath,
  plot.tPath,
  as.network.tPath,
  tEdgeDensity,
  edgeDuration,
  edgeDurationEst,
  vertexDuration,
  plotPaths,
  forward.reachable,
  tReach,
  tDegree,
  tErgmStats,
  tSnaStats,
  tEdgeDissolution,
  tEdgeFormation,
  #edgeFormationAt,
  #edgeDissolutionAt,
  connectedDuration
  #meanTimeToChange,
  #reachableRate,
  #meanReachTimes,
  #timeToReach
  )

S3method(as.network,tPath)
S3method(plot,tPath)